# -*-sh-*-
alias	archie	'archie -l -t -r'
alias	beep	'echo -n ""'
alias	bye	'logout'
alias	catman	'man \!1:1 | col -b'
alias	ci	'ci -u'
alias	cls	'clear'
alias	co	'co -l'
#alias	cpdir	'(find \!:1 -print| cpio -pdmv \!:2)'
alias   cpdir   '(tar cf - \!:1 | (cd \!:2; tar xpf -))'
if ($?OSTYPE && $OSTYPE == "solaris") then
  alias	df	'df -k'
endif
alias	findstr	'find . -type f -exec grep \!:1 {} \; -print'
alias	findstrs	'find . -type f -exec grep \!:1 {} \; -print \!:2-$'
alias	findname	'find . -name '\!:1' -print'
alias	findnames	'find . -name '\!:1' -print \!:2-$'
alias	ftp	'ftp -i'
alias	grope	'(echo server \!:1; echo ls -h \!:1) | nslookup'
#alias	gzip	'gzip --best'
alias	H	'history -r | fgrep "\!*"'
alias	h	'history \!* | more'
alias	hello	'login'
alias	hid	'ls -adCF .[^.]*'
alias	j	'jobs -l'
alias	k	'fortune'
alias	ko	'k -o'
if (-f /usr/local/bin/ls) then          # GNU ls?
  alias	l	'/usr/local/bin/ls --color=auto'
elsif ($?OSTYPE && $OSTYPE == "solaris") then
  alias	l	'/bin/ls'
else
  alias	l	'/bin/ls --color=auto'
endif
alias	la	'l -aF'
if ($?OSTYPE && $OSTYPE == "solaris") then
  alias	ll	'l -Flas'
else
  alias	ll	'l -Flags'
endif
alias	ls	'l -sF'
alias	lr	'l -R'
alias	lt	'ls -t'
alias	md	'mkdir -p \!:1 && cd \!:1'
alias	mman	'nroff -man \!:* | less -e'
alias	more	'less'
#alias	mvdir	'(find \!:1 -print| cpio -pdmv \!:2); rm -rf \!:1'
alias   mvdir   '(tar cf - \!:1 | (cd \!:2; tar xopf -)); rm -rf \!:1'
alias	rnet	"netscape -remote 'openURL(\!:1)'"
alias	ns	'(echo server deshaw.com;echo set q=any;echo \!*)|nslookup|grep \!*'
alias	_nsn	'echo \!*|awk -F. '\''{print $4"."$3"."$2"."$1".in-addr.arpa"}'\'
alias	nsn	'(echo server deshaw.com;echo set q=PTR;_nsn \!*)|nslookup|grep host'
alias	patch	'patch -l -F6'
#alias	prman	'troff -man -Tpost \!:1 | /usr/lib/lp/postscript/dpost | lpr'
alias	p	/bin/ps
if ($?OSTYPE && $OSTYPE == "solaris") then
  alias	psa	'p -fe'
  alias	psg	'psa | grep \!:1 | grep -v grep'
else
  alias	psa	'p ax'
  alias	psg	'p alxww | grep \!:1 | grep -v grep'
endif
alias	q	'quota -v'
alias	ra	'rm a.out'
alias	rc	'rm -f core;rm -f ~/Canc*'
alias	rd	'rm ~/dead.*'
if ($?LOGNAME && $LOGNAME == "root") then
 alias	rm	'rm -i'
endif
alias	rs	'set noglob; eval `resize`'
alias	running	"p ax | grep \!* |& grep -v 'grep \!*' "
alias	sa	'source ~/.aliases'
alias	sc	'source ~/.cshrc'
alias	setrc	'stty rows 24 columns 80'
#alias	shar	'shar -v -c -b -d Mithrae_Invicto -p X'
alias	sl	'source ~/.login'
alias	slay	'(set j=`/bin/ps -ax|grep \!*|head -1`;kill -1 $j[1]) >& /dev/null'
alias	slj	'set slj=`sysline -m -b -l -q -p -i +20`'
alias	st	'source ~/.tcshrc'
alias	sux	'sudo tcsh'
alias	u	'users | nroff | cat -s'
alias	unrot	'tr a-zA-Z n-za-mN-ZA-M <'
alias	utol	'tr A-Z a-z <'
alias	va	'vi ~/.aliases'
alias	vc	'vi ~/.cshrc'
alias	vl	'vi ~/.login'
alias	vm	'vi Makefile'
alias	vo	'vi ~/.logout'
alias	vt	'vi ~/.tcshrc'
alias	whatos	"echo 'GET / HTTP/1.0\n' | nc \!:1 80 | egrep '^Server:'"
#alias	where	'who | grep \!:1 | awk '"'"\{print \$6\}"'"''
alias	wai	'who am i'
alias	whois	'fwhois \!:1@whois.networksolutions.com'
#alias	xlock	'xlock +allowroot -nolock -mode qix'
#alias	xterm	'xterm -cu +ls -nb 8 -rw -sb -si -sk -sl 256 -tn xterm -ut -vb -wf -T "`whoami`@`hostname | awk -F\'.\' \' { print $1 } \'`" -geometry 80x24+2+2'
#alias	xterm	'xterm +ls -ut -sb -sl 1024 -tn xterms -n edh'
alias	xtermc	'xterm -bd firebrick1 -bg black -fg green'
alias	xterm2	'xterm -tn xterm -geometry 80x72+5+5'
alias	xterm2c	'xterm2 -bd firebrick1 -bg black -fg green'
alias	xterm3	'xterm -T "Oh carrots are divine, you get a dozen for a dime, its maaaagic."'
alias	xterm4	'xterm2 -geometry 80x48+5+5'
alias	xterm4c	'xterm2 -geometry 80x48+5+5 -bd green -bg black -fg firebrick1 -cr green'
alias   xterm4c2 'xterm2 -geometry 80x48+5+5 -bd firebrick1 -bg black -fg green -cr firebrick1'
alias	yell	'echo AAAAArgh'
alias	zap	'(set j=`ps -ax|grep \!*|head -1`;kill -9 $j[1]) >& /dev/null'
alias	zless	'zcat \!:1 | less'
alias	zmore	'zless'
alias	ztar	'gunzip -c \!:2 | tar \!:1 - \!:3-*'
alias	yff	"ypcat passwd | egrep \!:* | sed 's/\([^:]*\):\([^:]*\):\([^:]*\):\([^:]*\):\([^,]*\)[^:]*:\([^:]*\):\([^:]*\)/Login name:     \1\\\
Real name:      \5\\\
Home directory: \6\\\
Shell:          \7\\\
Passwd:         \2\\\
(uid,gid):      (\3,\4)\\\
/'"

# for audio-tape.ps
alias	tape_prolog	awk '/^%.PS/,/^%%BeginDoc//^%%EndDoc/,/^%%EndPro/'
alias	tape_trailer	awk '/^%%Trailer/,/^--eof--\$/'
setenv	TAPEPS	~/lib/ps/audio-tape.ps
#alias	catapes	'(tape_prolog $TAPEPS;cat \!*; tape_trailer $TAPEPS)'
alias	printapes	'(catapes \!*) | lpr'

alias	tape_prolog1	awk '/^%.PS/,/^%%BeginDoc/'
alias	tape_prolog2	awk '/^%%EndDoc/,/^%%EndPro/'
alias	catapes	'(tape_prolog1 $TAPEPS;tape_prolog2 $TAPEPS;cat \!*; tape_trailer $TAPEPS)'
