[user]
	email = github@crystalcave.net
	name = shikari7
[credential]
	helper = cache --timeout=3600
[push]
	default = current
[core]
	editor = emacs
	autocrlf = input
	excludesfile = ~/.gitignore
	pager = less -FX
	filemode = false
[alias]
	last = log -1 HEAD
	lol = log --oneline --graph --decorate --all
	co = checkout
[color]
	ui = auto
